{% extends 'shop/basic.html' %}

{% block title %} About Us {% endblock %}

{% block body %}

  <body>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">My Amazing Cart</h1>
          <p>
              My Amazing Cart is an Indian e-commerce website focused on handmade or vintage items and craft supplies. These items fall under a wide range of categories, including jewelry, bags, clothing, home décor and furniture, toys, art, as well as craft supplies and tools. All vintage items must be at least 20 years old. The site follows in the tradition of open craft fairs, giving sellers personal storefronts where they list their goods for a fee of US$0.20 per item.

As of December 31, 2018, Etsy had over 60 million items in its marketplace, and the online marketplace for handmade and vintage goods connected 2.1 million sellers with 39.4 million buyers. At the end of 2018, Etsy had 874 employees. In 2018, Etsy had total sales, or Gross Merchandise Sales (GMS), of US$3.93 billion on the platform.

In 2018, Etsy garnered a revenue of US$603.7 million and registered a net income of US$41.25 million. The platform generates revenue primarily from three streams: its Marketplace revenue includes a fee of  5% of final sale value, which an Etsy seller pays for each completed transaction, on top of a listing fee of 20 cents per item; Seller Services, Etsy's fastest growing revenue stream, includes fees for services such as "Promoted Listings", payment processing, and purchases of shipping labels through the platform; while Other revenue includes fees received from third-party payment processors.

In November 2016, Etsy disclosed that it paid US$32.5 million to purchase Blackbird Technologies, a startup that developed AI software used for shopping context/search applications.
          </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

  </body>

{% endblock %}